.contact{
    margin-top:150px;
    .contact__form{
        background-color: white;
    .contact__image{
        background-image: url(/reception.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height:300px;
        width:100%;
        background-size:cover ;
        div{
            padding-top: 150px;
            h1{
                width:200px;
                margin-inline: auto;
               
            }
        }
    }
    }
}
.form2,.form:active,.form:focus{
    border:none;
    width:100%;
    margin-inline: auto;
    padding-block: 10px;
    outline: none;
}
@media (min-width:41.1em){
    .contact__image{
        height:400px !important;
    }
}
